

body{
    background-color: black;
}

#STATSName{
    font-size: 50px;
    position: absolute;
    left: 10%;
    top: -5%;
}

#UPGRADESNAME{
    font-size: 40px;
    position: absolute;
    left: 4%;
    top: -3%;
}

#HowMuchCursors{
    font-size: 30px;
    position: absolute;
    left: 10%;
    top: 10%
}

#HowManyFarms{
    font-size: 30px;
    position: absolute;
    left: 10%;
    top: 20%
}

#STATS {
    position: absolute;
    left: 85%;
    top: 0%;
    width: 230px;
    height: 629px;

    background-color: beige;
}

#UPGRADES {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 230px;
    height: 629px;

    background-color: beige;
}

h2 {
    position: absolute;
    left: 30%;
    top: 0%;
    color: white;
    font-size: 50px;
}

#MainClick{
    background: linear-gradient(91deg,rgba(148, 30, 130, 1) 0%, rgba(105, 149, 132, 1) 100%, rgba(87, 199, 133, 1) 100%, rgba(184, 180, 132, 1) 100%);
    width: 200px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    left: 40%;
    top: 50%;
    color: black;
}

#MainClick:hover{
    border-radius: 100px;
    font-size: 40px;
}



#MainLabel{
    color: white;
    position: absolute;
    left: 42%;
    top: 35%;
}

#DOUBLECLICK{
    background-color:  white;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    left: 47%;
    bottom: 0%;
    color: black;
}

#Upgrades{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 230px;
    height: 629px;

    background-color: beige;
}

#UpgradeCursors{
    width: 70px;
    height: 70px;
    border-radius: 0px;
    position: absolute;
    left: 0%;
    top: 15%;
    color: black;
    font-size: 10px;
}

#SaveButton{
    width: 100px;
    height: 40px;
    border-radius: 0px;
    position: absolute;
    left: 16.9%;
    top: 0%;
    color: black;
    font-size: 20px;
}

#DeleteButton{
    width: 100px;
    height: 40px;
    border-radius: 0px;
    position: absolute;
    left: 25%;
    top: 0%;
    color: black;
    font-size: 10px;
}

#Github{
    background-color:  white;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    left: 40%;
    bottom: 0%;
    color: black;
}



#EVERYSECOUND{
    background-color:  white;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    left: 32%;
    bottom: 0%;
    color: black;
}


#FARM{
    background-color:  white;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    left: 47%;
    bottom: 0%;
    color: black;
}

#clicknotification{
    color: white;
    visibility: hidden;
    position: absolute;
    left: 45%;
    top: 30%;
}

#information{
    background-color:  white;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    color: black;
}

#UpgradesName {
    font-size: 50px;
    position: absolute;
    left: 7%;
    top: -5%;
}